{% from datetime import datetime%}
{% block name="aside"%}

	{%if len(models) > 0 %}
		{% if fields%}
			{% set  _fields = fields%}
		{%else%}
			{% set _fields = models[0]._fields_ordered%}
		{%end %}	
		<table class="pure-table pure-table-horizontal items">
				<thead>
						<tr>
								<th>
								<input type="checkbox">
								</th>
								{% for f in _fields%}
								<th>
									{{_(f)}}
								</th>
								{% end %}
								<th><i class="fa fa-cog" aria-hidden="true"></i> </th>
						</tr>
				</thead>

				<tbody>
					{% for model in models %}
						<tr>
							<td>
								<input type="checkbox" name="_id" value="{{model.id}}">
							</td>
							{% for f in _fields %}
							<td>
									{% set v = getattr(model, f)%}
									{% if isinstance(v, datetime) %}
										{{v.strftime("%Y-%m-%d %H:%M:%S")}}
									{% elif isinstance(v, bool) %}
												
									<i class="fa
										{%if v%} 
											fa-check
										{% else%}
											fa-close
										{%end%}
										"
												aria-hidden="true"></i>
										{%else%}
										{{v}}
									{%end%}
								</td>
							{% end %}
							<td>
								<a href="{{reverse_url(model_name+"_edit", model.id)}}">{{_("more edit")}}</a>
							</td>
						</tr>
					{% end %}
				</tbody>
		</table>
	{%end%}
{%end%}
